html {
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  margin: 0 0;
  font-size: 1.125rem;
  font-family: Segoe UI,system-ui,-apple-system,sans-serif;
  line-height: 1.75;
  background: #f9f9f9;
  color: #222;
}

main {
	display: grid;
	max-width: 72em;
	min-height: 100vh;
}


a {
	&:link, &:visited {
		color: #00a;
		text-decoration: none;
	}

	&:hover, &:visited:hover {
		color: #c00;
	}
}

nav {
	grid-row: 1;
	grid-column: 1;
	width: 18em;
	background-color: #ddeded;
	padding-left: 1em;
	padding-right: 1em;

	img {
		width: 15em;
		display: block;
		margin-left: 1.5em;
		margin-top: -1.5em;
		margin-bottom: -4em;
	}

	ul {
		padding: 0 0 0 2em;
		margin: 0 0 1em 0;
	}

	label {
		font-size: 110%;
		padding: 0;
		margin: 0;
	}

	.active a {
		font-weight: bold;
	}
}

article {
	grid-row: 1;
	grid-column: 2;
	padding: 2em;
	justify-self: start;
}

code {
	tab-size: 4;
	padding: 3px 5px 3px 5px;
	color: #af6020;
	background-color: #e4e4e4;
	border: 1px solid #c4c4c4;
	font-family: Consolas;
	white-space: nowrap;
}

pre {
	max-width: 60em;
	font-size: 16px;
	line-height: 21px;
}

div.code_block, pre > code {
	display:block;
	padding: 1em;
	line-height: 1.1;
	color: #d4d4d4;
	background-color: #1e1e1e;
	border: none;
	white-space: pre;
	max-width: 60em;
	overflow-x: auto;
	font-family: Consolas, 'Courier New', monospace !important;
	font-size: 16px !important;
}

blockquote
{
	display: block;
	margin: 0;

	p {
		border: 1px solid #0d47a1;
		border-left: 30px solid #407ad1;
		border-radius: 0.5rem;
		background: #e3f2fd;

		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

kbd {
	background: #2e2e2e;
	color: #dedede;
	padding: 2px 8px 2px 8px;
	font-weight: bold;
	border-radius: 5px;
}

.zola-anchor {
	opacity: 0%;
	margin-left: 0.5em;
	margin-top: 0;
	font-size: 80%;
}

h1:hover .zola-anchor,
h2:hover .zola-anchor,
h3:hover .zola-anchor,
h4:hover .zola-anchor
{
	opacity: 100%;
	transition: 0.3s;
	transition-delay: 0.1s;
}

h1 {
	font-size: 170%;
}

h1 + p {
	margin-top: -1em;
}

h2 {
	font-size: 140%;
	margin-top: 1.5em;
}

h1 + h2 {
	margin-top: -1em;
}

h2 + p {
	margin-top: -1em;
}

h2 + h3 {
	margin-top: -1em;
}

h3 + p {
	margin-top: -1em;
}

a[href^="http://"]:not([href*="127.0.0.1"]):not([href*="angelscript.hazelight.se"]):after,
a[href^="https://"]:not([href*="127.0.0.1"]):not([href*="angelscript.hazelight.se"]):after {
  content: "🔗";
  margin-left: 0.1em;
  margin-right: 0.25em;
  font-size: 60%;
  position: relative;
  top: -0.4em;
}