.icon-home::before
{
    display: none;
}

.wy-side-nav-search a.icon-home
{
    font-size: 200%;
}

.rst-content div[role=navigation]
{
    display: none;
}

.wy-nav-content footer
{
    text-align: right;
    font-size: 80%;
}

.wy-menu-vertical li.current a
{
    color: #555;
}